body{
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url(imags/background.jpg);
    background-repeat: no-repeat;
    position: absolute;
}
.trees{
    height: 100vh;
    width: 100%;
    background-image: url(imags/trees.png);
    background-size: cover; 
    position: absolute;
    top: -144px; 
}
.track{
    height: 60vh;
    width: 800vw;
    background-image: url(imags/track.png);
    background-repeat: repeat-x; 
    position: absolute;
    top: 70vh;
animation: road_move linear 2s infinite;
}
.car{

    position: absolute;
    background-image: url(imags/car_body.png);
    height: 100px;
    width: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 30vh;
    left: 100px;
    animation: shaking linear 1s infinite;
}